/* NavBar */

.nav-bar {
  background-color: rgb(25, 33, 41);
  padding: 14px 0;
}

.nav-bar-ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-button {
    background-color: #fdfbfb;
    border: none;
    color: rgb(5, 5, 5);
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    border-radius: 10%;
    transition-duration: 0.4s;
    font: bold;
}

.nav-button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.Welcome {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(25, 33, 41);
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

/* Footer */

.Footer {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  font-size: 0.8em;
}

/* SignUp */

.Sign {
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
    align-content: center;
    align-items: center;
}

.SignButton {
  background-color: black;
  border: none;
  color: white;
 border-radius: 10%;
}

.SignButton:Hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

/* Create */

.CreateList {
  display: flex;
  justify-content: space-around;
}

.CreateTag {
  display: flex;
  justify-content: center;
}

.CreateBack {
  background-color: rgb(25, 33, 41);
  color: rgb(238, 232, 255);
  font-style: italic;
}

.CreateButton {
  background-color: #fdfbfb;
  border: none;
  color: rgb(5, 5, 5);
 border-radius: 10%;
 margin-bottom: 40px;
 transition-duration: 0.4s;
 font: bold;
}

.CreateButton:Hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.CreateList {
  margin-top: 0;
  margin-bottom: 0rem;
}

textarea {
  width: 40px;
}

/* Feed */

.feedCard {
  border-radius: 20px;
  background-color: white;
  /* background-color: rgb(255, 255, 255); */
  opacity: 0.9;
  border: 10px solid #212529;
  width: auto;
  min-height: 30vh;
  display: flex;
  grid-gap: 10px;
  gap: 5px;
  flex-direction: column;
  margin-top: 20px;
  color: black;
  padding: 40px 40px;
  margin: 0px 40px;
  text-align: center;
}

.mainBack {
  background-color: rgb(25, 33, 41);
}

.likeButton {
  
    background-color: rgb(0, 0, 0);
    border: black;
    color: rgb(255, 255, 255);
   border-radius: 10%;
   margin-bottom: 40px;
   transition-duration: 0.4s;
   font: bold;
  }
  
  .likeButton:Hover {
    background-color: #4CAF50; /* Green */
    color: white;
  
}

/* EDIT */

.editButton {
color: black;
 font: bold;
}

.editSide {
  color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-top: 40px;
display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 30;
    list-style: none;
    align-content: space-between;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-height: 81vh; 
    background-image: url("../src/Images/logo_ncs_1v2.jpeg");
}

/* Detail/Delete */

.detailsPage {
  display: flex;
  color: white;
  background-image: url("../src/Images/logo_ncs_1v2.jpeg");
  min-height: 81vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

/* About */

.aboutSide {
  /* background-color: white;
  min-height: 80vh; */
background-image: url("../src/Images/turntable2.jpg");
background-repeat:   no-repeat;
background-position: center center; 
background-size: cover;
min-height: 80vh;
color: white;
}

.AboutText {
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  flex-direction: column;
}

input {
  width: 100%;
}

.reactPlayer {
display: flex;
}

.userProfile {
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
  width: auto;
  min-height: 81vh;
  display: flex;
  grid-gap: 5px;
  gap: 5px;
  flex-direction: column;
  margin-top: 5px;
  color: black;
  padding: 20px 20px;
  margin: 0px 40px;
  text-align: center;
  background-image: url("./Images/pianopic.jpg");
  background-repeat:   no-repeat;
background-position: center center; 
background-size: cover;
}