/* NavBar */

.nav-bar {
  background-color: rgb(25, 33, 41);
  padding: 14px 0;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
}


.nav-bar-ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;

}

.nav-button {
    background-color: #fdfbfb;
    border: none;
    color: rgb(5, 5, 5);
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 10%;
    transition-duration: 0.4s;
    font: bold;
}

.nav-button:hover {
  background-color:#680566;; /* Green */
  color: white;
}

.Welcome {
  height: 45px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(25, 33, 41);
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
}

/* added to the logo image in the navbar */

.logo{
  background-color: #680566;
  border-radius: 50px;
}

/* Footer */

.Footer {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: cursive;
  font-size: 0.8em;
}

/* SignUp */

.Sign {
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
    align-content: center;
    align-items: center;
}

.SignButton {
  background-color: black;
  border: none;
  color: white;
 border-radius: 10%;
}

.SignButton:Hover {
  background-color: #680566;
  /* background-color: #4CAF50; Green */
  color: white;
}

/* Create */

.CreateList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.CreateTag {
  display: flex;
  justify-content: center;
}

.CreateBack {
  background-color: rgb(25, 33, 41);
  color: rgb(238, 232, 255);
  font-style: italic;
  margin-bottom: -10px;
}

.CreateButton {
  background-color: #fdfbfb;
  border: none;
  color: rgb(5, 5, 5);
 border-radius: 10%;
 margin-bottom: 40px;
 transition-duration: 0.4s;
 font: bold;
 margin-bottom: 60px;
 margin-top: 20px;
}

.CreateButton:Hover {
  background-color: #680566; /* Green */
  color: white;
}

.CreateList {
  margin-top: 0;
  margin-bottom: 0rem;
}

textarea {
  width: 40px;
}

/* Feed */

/* .feedCard {
  border-radius: 20px;
  background-color: white;
  /* background-color: rgb(255, 255, 255); */
  /* opacity: 0.9;
  border: 10px solid #212529;
  width: auto;
  min-height: 30vh;
  display: flex;
  grid-gap: 10px;
  gap: 5px;
  flex-direction: column;
  margin-top: 20px;
  color: black;
  padding: 40px 40px;
  margin: 0px 40px;
  text-align: center;
} */ 

.feedCard {
  border-radius: 54px;
  background-color: #c9b105;
  background-color: #dbc213;
  opacity: 0.9;
  border: 13px solid #ffffff;
  width: auto;
  min-height: 21vh;
  display: flex;
  grid-gap: 0px;
  grid-gap: -7px;
  gap: 5px;
  flex-direction: column;
  margin-top: 20px;
  color: black;
  padding: 40px 40px;
  margin: 5px 165px;
  text-align: center;
  color: #141413;
  font-weight: bolder
}

/* added to feed  */
.posttitles{
  font-weight: bolder;
}

.mainBack {
  background-color: rgb(25, 33, 41);
}

.likeButton {
  
    background-color: rgb(0, 0, 0);
    border: black;
    color: rgb(255, 255, 255);
   border-radius: 10%;
   margin-bottom: 40px;
   transition-duration: 0.4s;
   font: bold;
   padding:10px 10px 10px 20px;
  }
  
  .likeButton:Hover {
    background-color: #680566;/* Green */
    color: white;
  
}

/* EDIT */

.editButton {
color: black;
 font: bold;
}

.editSide {
  color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding-top: 40px;
display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 30;
    list-style: none;
    align-content: space-between;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-height: 81vh; 
    background-image: url("../src/Images/logo_ncs_1v2.jpeg");
}

/* Detail/Delete */

.detailsPage {
  display: flex;
  color: white;
  background-image: url("../src/Images/logo_ncs_1v2.jpeg");
  min-height: 81vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

/* About */

.aboutSide {
  /* background-color: white;
  min-height: 80vh; */
background-image: url("../src/Images/b4.jpg");
background-repeat:   no-repeat;
background-position: center center; 
background-size: cover;
min-height: 80vh;
color: white;
padding-left: 30px;
/* color: #680566; */
padding-right: 137px;
padding-top: 25px;
padding-bottom: 10px;
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.AboutText {
  display: flex;
  /* font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic; */
  flex-direction: column;
}

.AboutText h4{
  color:#680566;
  font-weight:bolder;


}

input {
  width: 100%;
}

.reactPlayer {
display: flex;
}

/* .userProfile {
  border-radius: 10px;
  background-color: white;
  opacity: 0.9;
  width: auto;
  min-height: 81vh;
  display: flex;
  grid-gap: 5px;
  gap: 5px;
  flex-direction: column;
  margin-top: 5px;
  color: black;
  padding: 20px 20px;
  margin: 0px 40px;
  text-align: center;
  background-image: url("./Images/pianopic.jpg");
  background-repeat:   no-repeat;
background-position: center center; 
background-size: cover;
} */

.userProfile {
  /* border-radius: 10px; */
    /* background-color: white; */
    opacity: 0.9;
    width: auto;
    min-height: 75vh;
    display: flex;
    grid-gap: 5px;
    grid-gap: 5px;
    gap: 5px;
    flex-direction: row;
    margin-top: 5px;
    color: black;
    padding: 10px 10px 10px 10px;
    /* margin: 0px 40px; */
    text-align: center;
    background-image: url("./Images/b6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    place-content: flex-start center;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;}


.userProfile1 {border-radius: 200px;
  background-color: #680566;
  /* opacity: 7.9; */
  width: 500px;
  min-height: 50vh;
  display: flex;
  grid-gap: 5px;
  grid-gap: 5px;
  grid-gap: 5px;
  gap: 5px;
  flex-direction: column;
  margin-top: 5px;
  color: black;
  padding: 20px 20px;
  margin: 0px 40px;
  text-align: center;
  /* background-image: url(./Images/b7.jpg); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  color: #e7c73b}